@use 'mixins' as *;
@use 'variables' as *;

:host {
  @include flex-column();
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 100;

  background-color: rgba($white, 0.3);
  backdrop-filter: blur(4px);
  border-radius: inherit;
}

.ui-loader-overlay {
  @include flex-column();
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid $ink;
  border-top-color: $color-primary;
  border-radius: 50%;
  animation: spin 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
