@font-face {
  font-family: 'Geom';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Geom-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Geom';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Geom-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Geom';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Geom-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Geom';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Geom-ExtraBold.ttf') format('truetype');
}
