@use 'variables' as *;

@mixin inline-flex-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// ======== Button =========
@mixin brutal-interactive {
  transition: $transition-main;
  cursor: pointer;

  &:hover {
    transform: translate(-1px, -1px);
    box-shadow: ($brutal-shadow-offset + 1px) ($brutal-shadow-offset + 1px) 0px 0px $ink;
  }

  &:active {
    transform: translate($brutal-shadow-offset, $brutal-shadow-offset);
    box-shadow: 0px 0px 0px 0px $ink;
  }
}

// ======== Input =========
@mixin neubrutal-input() {
  font-family: 'Geom', 'Helvetica', sans-serif;
  appearance: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;

  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 16px;
  border: $brutal-border solid $ink;
  border-radius: $radius-main;
  background-color: $white;
  color: $ink;

  box-shadow: 2px 2px 0px 0px $ink;
  transition: all $transition-main;

  &::placeholder {
    color: rgba($ink, 0.4);
    text-transform: lowercase;
  }

  &:focus {
    background-color: $white;
    transform: translate(-2px, -2px);
    box-shadow: $brutal-shadow-offset $brutal-shadow-offset 0px 0px $ink;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #f2f2f2;
    box-shadow: none;
    transform: none;
    opacity: 0.7;
  }
}
