$bg-page: #fffef9;
$white: #ffffff;
$gray: #334155;
$yellow: #f5e86e;
$ink: #000000;
$color-success: #a3e635;

/* ===== Buttons ===== */
$color-primary: #ffde59;
$color-secondary: #d6d6f5;
$color-danger: #ff6b6b;

$brutal-border: 2px;
$brutal-shadow-offset: 4px;
$radius-main: 16px;
$transition-main: all 0.1s ease-in-out;

/* ===== Spinner loader ===== */
$spinner: rgba(255, 255, 255, 0.4);
$spinner-secondary: rgba(51, 65, 85, 0.3);
