@use 'mixins' as *;
@use 'variables' as *;

.sidebar {
  height: 100%;
  background-color: $success;
  padding: 16px;
  flex: 1;

  .top-container {
    @include flex-center();
    margin-bottom: 20px;
    gap: 12px;
    cursor: pointer;

    .logo {
      width: 48px;
      height: 48px;
    }

    h3 {
      font-size: 24px;
    }
  }

  .navbar {
    @include flex-column();
    gap: 4px;

    &-item {
      @include flex-center();
      padding: 8px 12px;
      border-radius: 8px;
      gap: 12px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.1s ease-in;

      &:hover {
        background-color: $spinner;
      }

      &__image {
        width: 28px;
        height: 28px;
      }

      &__label {
        margin-right: 64px;
      }
    }
  }
}
