@use 'mixins' as *;
@use 'variables' as *;

:host {
  display: flex;

  @media (max-width: 660px) {
    order: 2;
  }
}

.sidebar {
  height: 100%;
  background-color: $success;
  padding: 16px;
  flex: 1;

  .top-container {
    @include flex-center();
    margin-bottom: 20px;
    gap: 12px;
    cursor: pointer;

    .logo {
      width: 48px;
      height: 48px;
    }

    h3 {
      font-size: 24px;
    }

    @media (max-width: 660px) {
      display: none;
    }
  }

  .navbar {
    @include flex-column();
    gap: 4px;

    &-item {
      @include flex-center();
      padding: 8px 12px;
      border-radius: 8px;
      gap: 12px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.1s ease-in;

      @media (min-width: 660px) {
        &:hover,
        &:focus-visible {
          background-color: $spinner;
        }
      }

      &__image {
        width: 28px;
        height: 28px;

        @media (max-width: 660px) {
          width: 24px;
          height: 24px;
        }
      }

      &__label {
        margin-right: 64px;

        @media (max-width: 660px) {
          display: none;
        }
      }
    }

    @media (max-width: 660px) {
      flex-direction: row;
    }
  }

  @media (max-width: 660px) {
    @include flex-center();
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 8px;
  }
}
