@use 'mixins' as *;
@use 'variables' as *;

$avatar-border-radius: 28px;

.avatar-container {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: $avatar-border-radius;
  cursor: pointer;

  &.loading {
    cursor: wait;

    .overlay {
      display: none;
    }
  }

  &:hover:not(.loading) .overlay {
    opacity: 1;
  }

  .select-photo-input {
    display: none;
  }

  .avatar {
    @include flex-center();
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    font-size: 56px;
    font-weight: 700;
    background-color: $color-primary;
    border: $brutal-border solid $ink;
    box-shadow: 4px 4px 0px 0px $ink;
    user-select: none;
    object-fit: cover;
  }

  .overlay {
    @include flex-center();
    justify-content: center;
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: $transition-main;
    border: $brutal-border solid $ink;

    .icon {
      font-size: 64px;
      color: $white;
      filter: drop-shadow(2px 2px 0px $ink);
    }

    &.add-mode {
      background-color: rgba($color-secondary, 0.5);
    }

    &.delete-mode {
      background-color: rgba($color-danger, 0.7);

      .icon {
        font-size: 48px;
      }
    }
  }
}
