@let user = currentUser();
@let avatar = userAvatarDetails();
@let loading = photoLoading();

<div class="avatar-container" [class.loading]="loading">
  <input
    #fileInput
    class="select-photo-input"
    type="file"
    [accept]="AVAILABLE_FORMATS"
    (change)="onFileSelected($event)"
  />

  @if (loading) {
    <app-loader />
  }

  @if (avatar?.isImage) {
    <img class="avatar" [src]="avatar?.details" alt="user avatar" />
    <div tabindex="-1" role="button" class="overlay delete-mode" (click)="onOpenConfirmModal()">
      <span class="icon">🗑️</span>
    </div>
  } @else {
    <div class="avatar default-bg">{{ avatar?.details }}</div>
    <div tabindex="-1" role="button" class="overlay add-mode" (click)="onAddAvatar()">
      <span class="icon">+</span>
    </div>
  }
</div>

<div>
  <h3>{{ user?.displayName }}</h3>
  <p>{{ user?.status ? user?.status : 'Add status' }}</p>
</div>

<app-confirm-modal
  title="Delete avatar"
  description="Are you sure you want to delete your profile picture?"
  [visible]="isConfirmModalOpen()"
  [loading]="deleteLoading()"
  (confirm)="onRemoveAvatar()"
  (cancelEvent)="onCloseConfirmModal()"
/>
