@use 'mixins' as *;
@use 'variables' as *;

:host {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 10000;
}

.notification {
  @include flex-center();
  gap: 12px;
  padding: 12px 16px 12px 12px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 340px;

  &-success {
    background-color: $success;
    border-left: $border-width solid $success-border;
    color: $success-border;

    .close-button {
      color: $success-border;
    }
  }

  &-error {
    background-color: $error;
    border-left: $border-width solid $error-border;
    color: $error-border;

    .close-button {
      color: $error-border;
    }
  }

  &-warning {
    background-color: $warning;
    border-left: $border-width solid $warning-border;
    color: $warning-border;

    .close-button {
      color: $warning-border;
    }
  }

  &-info {
    background-color: $info;
    border-left: $border-width solid $info-border;
    color: $info-border;

    .close-button {
      color: $info-border;
    }
  }

  &.fade-in {
    animation: fadeIn 0.1s ease-out;
  }

  &.fade-out {
    animation: fadeOut 0.1s ease-in;
  }

  &-image {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    color: inherit;

    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &-block {
    @include flex-column();
    color: $gray;
    gap: 4px;

    .summary {
      font-size: 14px;
      font-weight: 700;
    }

    .message {
      flex: 1;
      word-break: break-word;
      padding-right: 32px;
      font-size: 13px;
    }
  }

  .close-button {
    @include inline-flex-center();
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    background: none;
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 1;
    border-radius: 8px;
    transition: all 0.15s ease-in;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-40px);
  }
}
