@use 'styles/variables' as *;
@use 'styles/fonts' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Geom', 'Helvetica', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  width: 100svw;
  height: 100svh;
}
